Repository gooditworks/base-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, packagesort

eslint:
  run: eslint {staged_files}

packagesort:
  run: npm run style:packagesort; git add package.json

chore(deps): update all non-major dependencies
  package-lock.json
  package.json
Due: packagesort

chore(deps): update dependency @testing-library/react-hooks to v8
  package.json
Due: packagesort

chore: обновление пакетов тестирования React
  jest.config.js
  package-lock.json
  package.json
  src/components/Counter/Counter.test.tsx
  src/components/Counter/__snapshots__/Counter.test.tsx.snap
  src/hooks/useCounter.test.ts
Due: eslint, packagesort

docs: обновлена документация по тестированию React
  docs/testing.md
  readme.md
Due: none

chore(deps): update dependency @types/jest to v28
  package-lock.json
  package.json
Due: packagesort

Не нужно ключ engines нам
  package.json
Due: packagesort

feat: Добавлен Web Vitals для Axiom
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: eslint, packagesort

feat: инициалзация @sentry/next из мониторинга
  next.config.js
  package-lock.json
  package.json
  sentry.client.config.ts
  sentry.server.config.ts
  src/pages/_app.tsx
  src/pages/api/test.ts
  tsconfig.json
Due: eslint, packagesort

chore: пакет мониторинга из Github Registry
  package-lock.json
  package.json
Due: packagesort

fix: отправка source maps в Sentry только при билде в Vercel
  next.config.js
Due: eslint

chore: обновление мониторинга
  package-lock.json
  package.json
Due: packagesort

chore: тест с ручным Sentry.captureException
  src/pages/api/test.ts
Due: eslint

chore: обнление мониторинга
  package.json
  src/pages/api/test.ts
Due: eslint, packagesort

fix: обновление мониторинга
  package-lock.json
  package.json
Due: packagesort

chore: sentry.captureexception в ручную
  src/pages/api/test.ts
Due: eslint

docs: документация по новым env переменным Sentry
  .env.example
  docs/env.md
  src/pages/api/test.ts
Due: eslint

fix: корректная инициализация sentry в server окружении
  sentry.server.config.ts
Due: eslint

feat: slient: true в конфиге SentryWebpackPlugin
  next.config.js
Due: eslint

feat: включение автоматического трейсинга
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint

feat: кастомная страница _error для ловли ошибок в getServerSideProps & getStaticProps
  src/pages/_error.jsx
Due: none

feat: gha для полу-автоматического обновления base
  .github/workflows/base-update.yaml
  .gitignore
Due: none

feat: gha для создания PR для полу-автоматического обновления base
  .github/workflows/base-update.yaml
Due: none

fix: возможность через GHA секреты поставить альтернатианый url base репозитория
  .github/workflows/base-update.yaml
Due: none

docs: памятка, что в репозитории уже есть GHA для автоматического обновления base
  docs/guides.md
Due: none

chore: переименование секрета BASE_REMOTE_URL
  .github/workflows/base-update.yaml
Due: none

fix: в триггере GHA тестов триггер pull_request_target заменен на pull_request
  .github/workflows/test-report.yml
Due: none

fix: gha для автоматического обновления base репозитория теперь принимает кастомный github токен
  .github/workflows/base-update.yaml
Due: none

fix: изменен приоритет токенов gha обновления base
  .github/workflows/base-update.yaml
Due: none

fix: `baseUrl` в tsconfig вместо отдельных `paths`
  tsconfig.json
Due: none

fix: eslint правило для a11y ссылок изменено для нормальной поддержки NextLink
  .eslintrc
Due: none

Path conditions:
  eslint: any of: *.{js,ts,tsx}
  packagesort: any of: package.json
