Repository gooditworks/base-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, packagesort

eslint:
  run: eslint {staged_files}

packagesort:
  run: npm run style:packagesort; git add package.json

chore(deps): update dependency next to 12.1.0 [security]
  package-lock.json
  package.json
Due: packagesort

chore(deps): update all non-major dependencies
  package-lock.json
  package.json
Due: packagesort

chore(deps): update actions/setup-node action to v3
  .github/workflows/playwright-test.yaml
  .github/workflows/test-report.yml
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/test-report.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/test-report.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/playwright-test.yaml
  .github/workflows/test-report.yml
Due: none

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/playwright-test.yaml
Due: none

fix(deps): update react monorepo to v18
  package-lock.json
  package.json
Due: packagesort

chore(deps): update dependency eslint-config-airbnb-typescript to v17
  package-lock.json
  package.json
Due: packagesort

chore(deps): update dependency @types/react to v18
  package-lock.json
  package.json
Due: packagesort

fix: корректные Props у компонента ErrorCapturer
  src/components/ErrorCapturer.tsx
Due: eslint

chore(deps): update dependency @types/react-test-renderer to v18
  package-lock.json
  package.json
Due: packagesort

chore(deps): update jest monorepo
  package-lock.json
  package.json
Due: packagesort

chore(deps): update commitlint monorepo to v17
  package-lock.json
  package.json
Due: packagesort

Path conditions:
  eslint: any of: *.{js,ts,tsx}
  packagesort: any of: package.json
